@import "fonts";
@import "variable";
@import "typography";

// RESPONSIVE SCSS STYLE
@import "responsive";

// BSIC THEME Page SCSS STYLE
@import "sections/home";

// ALL COMPONENT SCSS STYLE
@import "components/button";

// @import "_components/bootstrapSelect";
@mixin placeholder {
	::-webkit-input-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
	::-moz-placeholder {
		@content;
	}
	:-ms-input-placeholder {
		@content;
	}
}

@include placeholder {
	font-style: italic;
	color: $gray-500 !important;
	font-weight: 300;
}
