.btn {
	width: 200px;
	height: 45px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0;
	line-height: 32px;
}
// solid btn
.btn-primary {
	font-weight: 600;
	border-color: $blue-10;
	background-color: $blue-10;
	&:hover {
		border-color: $blue-10;
	}
}

// out-line btn
.btn-outline-primary {
	color: $blue-10;
	border-color: $blue-10;
	font-weight: 600;
	&:hover {
		background-color: $blue-10;
		border-color: $blue-10;
	}
}
